<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>REGISTRESE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login">
    <form [formGroup]="registerForm">
      <ion-item>
        <ion-input label="Email" labelPlacement="stacked" type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Contraseña" labelPlacement="stacked" [type]="showPassword ? 'text' : 'password'" formControlName="password" [(ngModel)]="pw"></ion-input>
      </ion-item><button ion-button clear icon-only (click)="togglePassword()"><ion-icon size="large" name="{{ showPassword ? 'eye-off' : 'eye' }}"></ion-icon></button>
      <ion-item>
        <ion-input label="Confirmar contraseña" labelPlacement="stacked" [type]="showPassword ? 'text' : 'password'"
          formControlName="confirmPassword" [(ngModel)]="cpw"></ion-input>
      </ion-item>
      <ion-item *ngIf="registerForm.hasError('notEqual')">
        <ion-text color="danger" style="font-size: 12px;"><ion-icon name="warning"></ion-icon> La contraseña no coincide</ion-text>
      </ion-item>
      <ion-button [disabled]="registerForm.invalid" (click)="submitForm()">Registrarse </ion-button>
    </form>
    <br><ion-label>¿Ya tiene cuenta? </ion-label>
    <a [routerLink]="['/login']"> Iniciar sesion</a>
  </div>
</ion-content>